@import "../../../../node_modules/@angular/material/theming";
@import "../../../styles.scss";

$primary-palette: map-get($map: $active-theme, $key: primary);
$accent-palette: map-get($map: $active-theme, $key: accent);

$primary-text: mat-color($accent-palette, text);
$accent: mat-color($accent-palette);

:host {
  #background-provider {
    background-image: url("../../../assets/sassy-squad-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #update-bar {
	height: 10px;
  }

  #quit-button {
    top: 0;
    right: 0;
    position: absolute;
    border: 0 solid transparent;
    width: 45px;
    height: 29px;
    padding-top: 1px;
	background-color: transparent;
	color: $primary-text !important;

    &:hover {
      background-color: $primary-text;
    }
  }
}
