@font-face {
	font-family: "Twenty Century";
	src: url("assets/fonts/TCM_____.TTF") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Twenty Century";
	src: url("assets/fonts/TCB_____.TTF") format("truetype");
	font-style: normal;
	font-weight: bold;
}
