@import "../../../../node_modules/@angular/material/theming";
@import "../../../themes/sassy-squad-theme.scss";

$foreground: map-get($active-theme, foreground);
$accent: map-get($active-theme, accent);

$accent-color: mat-color($accent);
$text-color: mat-color($foreground, text);

$progress-bar-height: 18px;
$menu-padding: 12px;

@mixin make-cover() {
	border-width: inherit;
	border-image-slice: inherit;
	opacity: 0;
}

:host {
	.logo {
		position: absolute;
		left: -60px;
		top: -80px;
		width: 400px;
		height: auto;
		transform: rotate(-12deg);
	}

	.menu {
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		position: absolute;
		background-color: fade-out($color: #000000, $amount: 0.4);
		padding: $menu-padding $menu-padding $menu-padding + $progress-bar-height $menu-padding;
		color: $text-color;

		&-row {
			justify-content: center;
		}

		& * h4 {
			font-size: 1.2em;
			padding: 0;
		}
	}

	.background-container {
		background-image: url("../../../assets/sassy-squad-bg.png");
		background-repeat: no-repeat;
		background-size: cover;
		color: $text-color;
	}

	.command-bar {
		top: 0;
		right: 0;
		position: absolute;

		.command-button {
			width: 45px;
			height: 29px;
			padding-top: 2px;
			border: 0 solid transparent;
			background-color: transparent;
			color: $text-color;
			transition: 0.3s;

			&:hover {
				background-color: $accent-color;
			}
		}
	}

	.fx-button {
		width: 140px;
		height: 44px;
		border-width: 0px;
		border-image-slice: 0 fill;
		color: $text-color;
		background-color: transparent;
		font-size: 1.4em;
		text-align: center;
		transition: 0.3s;
		position: relative;

		&-green {
			border-image-source: url("./../../../assets/ui-button-green.png");

			&:hover {
				border-image-source: url("./../../../assets/ui-button-green-active.png");
			}
		}

		&-yellow {
			border-image-source: url("./../../../assets/ui-button-yellow.png");

			&:hover {
				border-image-source: url("./../../../assets/ui-button-yellow-active.png");
			}
		}

		&-blue {
			border-image-source: url("./../../../assets/ui-button-blue.png");

			&:hover {
				border-image-source: url("./../../../assets/ui-button-blue-active.png");
			}
		}
	}

	.update-bar {
		height: $progress-bar-height;
	}
}
