<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>

<div class="error-overlay" *ngIf="(errors | async) as error">
	<div class="error-strip">
		<div class="error-strip-column">
			<h2 class="mat-title" i18n="error-title|A generic error title describing that something went wrong.">Oops! Something went wrong!</h2>
			<p class="mat-body">{{error}}</p>
		</div>
	
		<button class="mat-button" i18n="retry" (click)="retry($event)">
			
		</button>
	</div>
</div>